/Comandos/build/
/Comandos/nbproject/private/
/MiniEnsamblador/Mini IDE/JavaApplication10/build/
/MiniEnsamblador/Mini IDE/JavaApplication10/dist/
/MiniEnsamblador/Mini IDE/JavaApplication10/nbproject/private/
